body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    background: url("../resources/stars.png") center/cover no-repeat;
}

button {
    cursor: pointer;
    font-family: System-ui;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    border-radius: 12px;
    transition: background 0.3s ease;
    backdrop-filter: blur(4px);
}

button:hover {
    background-color: rgba(53, 16, 21, 0.5);
    color: white;
    box-shadow: 0 0 8px #ff002e, 0 0 15px #fd002e;
    transform: scale(1.02);
}

button:hover::before {
    opacity: 0.8;
    transform: scale(0.9);
}

* {
    box-sizing: inherit;
}

div {
    /*border: 1px solid;*/
}

.aligning{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    /*border-color: black;*/
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 95%;
    height: 95%;
}

.upper-container {
    display: flex;
    align-items: center;
    height: 10%;
    margin: 10px 0;
    /*border-color: red;*/

}

.lower-container {
    display: grid;
    grid-template-columns: 2fr 0fr;
    flex-grow: 1;
    height: 100%;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
}

.lower-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px 0;
    gap: 20px;
}

.button-container {
    grid-column: 1;
    display: flex;
    gap: 2%;
    width: 100%;
    background: linear-gradient(to right, rgba(57, 57, 57, 0.75) 75%, rgba(57, 57, 57, 0) 98%);
    padding: 5px 15px;
    border-radius: 20px;
    justify-content: space-between;
}

.button-container div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.button-container button {
    padding: 10px 30px;
    font-size: 20px;
    width: 250px;
    }

.graph {
    background-color: rgba(57, 57, 57, 0.75);
    display: flex;
    height: 60vh;
    border-radius: 20px;
    backdrop-filter: blur(3px);
}

.graph canvas {
    width: 100% !important;
    height: 100%;
}

.logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-container img {
    height: 70px;
    width: 70px;
    object-fit: contain;
}

.console-container {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 20vh;
    border-radius: 20px;
    overflow: hidden !important;
}

.console-header {
    background-color: rgb(44, 47, 51);
    color: white;
    text-align: left;
    font-family: system-ui;
    font-weight: bold;
    padding: 10px 0px 10px 20px;
    border-bottom: 1px solid black;
}

.console-field {
    padding: 10px;
    overflow-y: auto;
    font-family: monospace;
    color: white;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
}

.database {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-weight: bold;
    font-size: 24px;
    color: white;
    background-color: rgba(57, 57, 57, 0.75);
    border-radius: 20px;
    backdrop-filter: blur(2px);
}

.database-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 20vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(57, 57, 57, 0.75);
    border-radius: 20px;
    backdrop-filter: blur(3px);
}

.database-buttons button {
    padding: 15px 10px;
    font-size: 20px;
    width: 560px;
}

